In [1]:
import pandas as pd
import os

In [2]:
DATA_PATH = 'E:\\data\\2019-3rd-ml-month-with-kakr'

In [3]:
a = pd.read_csv(os.path.join(DATA_PATH, '0.81354.csv'))
b = pd.read_csv(os.path.join(DATA_PATH, '0.83881.csv'))

In [14]:
new_val_df = a.loc[a['class'] == b['class']]
print(new_val_df.shape)
new_val_df.head()

(4875, 2)

         img_file  class
1  test_00002.jpg     98
2  test_00003.jpg    157
3  test_00004.jpg     94
5  test_00006.jpg    147
6  test_00007.jpg      2

In [5]:
new_val_df.to_csv(os.path.join(DATA_PATH, 'validation.csv'), index=False)